/* Color palette
Maroon: #461220
Dark red: #8C2F39;
Normal red: #B23A48;
Salmon: #FCB9B2;
Peach: #FED0BB; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #461220;
    color: white;
}

#calculator {
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    background-color: #8C2F39; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px auto;
    padding: 40px 10px;
    font-size: 21px;
}

#displayedNumber {
    text-align: right;
    margin: 0px 5px 15px 5px;
    border-radius: 5px;
    padding: 15px;
    background-color: #B23A48;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#pastEquation {
    font-size: 16px;
}

#number-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.box {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #b23a48;
    text-align: center;
    border-radius: 5px;
    padding: 20px 5px;
    margin: 5px;
    border: none;
    color: white;
    font-size: 18px;
}

.box:hover {
    cursor: pointer;
}

#equals {
    grid-area: 5 / 3 / 6 / 5;
}

#footer {
    position: absolute;
    left: 0;
	right: 0;
    bottom: 0;
	margin: auto;
	width: 100%;
	z-index: 99%;
	text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#footer a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#footer p {
    margin: 0px 10px;
}

#footer a:hover {
    text-decoration: underline;
}

i {
    margin-right: 5px
}